<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../Skript/creditsService.js" defer></script>
    <script defer src="./Skript/roulette.js"></script>
    <title>Roulette</title>
</head>
<body>
    <link rel="stylesheet" href="./css/roulette.css">
    <main class="roulette-table">
        <h1 class="roulette-heading">Roulette</h1>
        <section class="roulette-wheel">
            <div class="roulette-wheel-small">
                <div class="roulette-numbers"></div>
            </div>
            <div class="roulette-wheel-smaller">
                <img src="./img/roulette-cross.png" alt="cross">
            </div>
            
            <div class="roulette-ball">
                <div class="ball"></div>
            </div>
        </section>
        <section class="roulette-bet">
            <div class="numbers-block"></div>
            <div class="colors-block">
                <div class="betting-row">
                    <div class="betting-row-item" id="firstTwelve" onclick="bet(firstTwelve, 'firstTwelve')"><span>1st 12</span></div>
                    <div class="betting-row-item" id="secondTwelve" onclick="bet(secondTwelve, 'secondTwelve')"><span>2nd 12</span></div>
                    <div class="betting-row-item" id="thirdTwelve" onclick="bet(thirdTwelve, 'thirdTwelve')"><span>3rd 12</span></div>
                </div>
                <div class="betting-row">
                    <div class="betting-row-item" id="firstHalf" onclick="bet(firstHalf, 'firstHalf')"><span>1 to 18</span></div>
                    <div class="betting-row-item" id="evenNumbers" onclick="bet(evenNumbers, 'evenNumbers')"><span>Even</span></div>
                    <div class="betting-row-item"  id="redNumbers" onclick="bet(redNumbers, 'redNumbers')">
                        <div class="betting-row-red"></div>
                    </div>
                    <div class="betting-row-item" id="blackNumbers" onclick="bet(blackNumbers, 'blackNumbers')">
                        
                        <div class="betting-row-black"></div>
                    </div>
                    <div class="betting-row-item" id="oddNumbers" onclick="bet(oddNumbers, 'oddNumbers')"><span>Odd</span></div>
                    <div class="betting-row-item" id="secondHalf" onclick="bet(secondHalf, 'secondHalf')"><span>19 to 36</span></div>
                </div>
            </div>
            <div class="betting-settings">

            </div>
        </section>
        
    </main>
    
</body>
</html>