Textbox {
    padding: 10px;
    border: 1px solid black;
    max-width: 450px;
    margin: 10px;
}
Überschrift {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
Absatz{
    display: block;
    margin-top: 10px;
}
Leerzeile {
    display: block;
    padding: 10px;
}
Fett {
    font-weight: bold;
}
Kursiv {
    font-style: italic;
}