body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex; /* Flexbox aktivieren */
    align-items: center; /* Vertikal zentrieren */
    justify-content: space-between; /* Platz zwischen den Elementen */
    background-color: #222;
    color: white;
    padding: 10px 20px;
    top: 0;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000; /* Stellt sicher, dass der Header immer im Vordergrund ist */
}

.logo img {
    height: 100px;
}

.title {
    flex-grow: 1;
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:last-child {
    padding-right: 50px;
}

nav ul li a:hover {
    color: gold; /* Hover-Effekt in Gold */
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .logo img {
        height: 70px; /* Verkleinerung des Logos */
    }
    .title {
        font-size: 24px;
        margin: 10px 0; /* Abstand zum nächsten Element */
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    nav ul li a {
        font-size: 16px;
    }
}
