body {
    background-color: #434242;
    color: #dfdede;
    font-family: Arial, sans-serif;
}

main {
    margin-top: 120px;
    margin-bottom: 80px;
    padding: 20px;
}

#mail {
    color: #02c6f1;
}