/* Standard-Styling für das gesamte Layout */
body {
    margin: 0;
    padding: 0;
    /*background-image: url('../img/Designer.jpeg'); /* Hintergrundbild */
    background-size: cover; /* Bild füllt den gesamten Bereich */
    background-position: center;
    background-attachment: fixed; /* Fixiert das Hintergrundbild */
    font-family: Arial, sans-serif;
}

/* Hauptinhalt mit Abstand zu Header und Footer */
main {
    margin-top: 120px;
    margin-bottom: 80px;
    padding: 20px;
}

/* Container für das Hintergrundbild und die Buttons */
.background-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Volle Höhe des Viewports */
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}

/* Allgemeine Button-Stile */
.game-button {
    position: absolute; /* Absolute Positionierung relativ zur .background-container */
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px 30px;
    font-size: 24px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

/* Slot Machine Button (oben links) */
#slot-button {
    top: 42%;
    left: 12%;
}

/* Blackjack Button (zentral) */
#blackjack-button {
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Roulette Button (unten rechts) */
#roulette-button {
    bottom: 35%;
    right: 20%;
}

/* Hover-Effekt */
.game-button:hover {
    background: gold;
    color: black;
    transform: scale(1.1);
}

/* Hintergrund füllt die Seite komplett aus */
#content {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Hintergrundbild */
.background-image {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Container für das Spiel */
#game {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    align-items: center;
    justify-content: center;
    display: none;
}

/* Container für das Spiel */
#game iframe {
    margin: 0;
    margin-top: 11.5vh;
    padding: 0;
    width: 100%;
    height: 77%;
    border: none;
}

/* Schließen-Button */
.close-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    position: absolute;
    top: 18vh;
    right: 2vw;
    width: 5vh;
    height: 5vh;
    font-size: 2.5vh;
    border-radius: 1vh;
    z-index: 10;
    transition: scale 0.1s, background-color 0.1s;
}

/* Hovern über Schließen-Button */
.close-button:hover{
    scale: 1.05;
    background-color: gold;
}

/* Klicken auf Schließen-Button */
.close-button:active {
    scale: 0.95;
}
