<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>aboutUs</title>
    <link rel="stylesheet" href="css/aboutUs.css">
</head>
<body>
<h2><u>About Us</u></h2>
<h3><u>Die Website</u></h3>
<p>
    Willkommen auf unserer Online-Casino-Plattform, wo spannende Unterhaltung auf Sie wartet! Wir bieten eine aufregende Auswahl an klassischen Casinospielen, die Ihnen stundenlangen Spielspaß garantieren. Unsere Website bietet eine sichere und benutzerfreundliche Umgebung, in der Sie Ihre Lieblingsspiele – direkt von zu Hause aus - genießen können .
    <br><br>
    <u>Unsere Spiele:</u>
    <br><br>
    - Blackjack: Das beliebte Kartenspiel, bei dem Sie gegen den Dealer antreten.<br><br>
    - Roulette: Setzen Sie auf Ihre Glückszahl und erleben Sie das Nervenkitzel, wenn die Kugel im Rad landet.<br><br>
    - Slotmaschinen: Drehen Sie die Walzen und hoffen Sie auf den großen Gewinn!<br><br>

    Unser Ziel ist es, Ihnen ein faires und unterhaltsames Spielerlebnis zu bieten.

    Egal, ob Sie ein erfahrener Spieler oder ein Neuling sind – bei uns finden Sie die besten Spiele und einen Platz, um Ihr Glück herauszufordern!
    <br><br>
</p>
<h3><u>Unser Team</u></h3>
<div class="logos">
    <a href="https://www.ravensburg.dhbw.de/startseite"><img src="img/DHBW_Logo.png" alt="DHBW logo"></a>
    <a href="https://www.mtu-solutions.com/eu/de.html"><img src="img/RR_logo.png" alt="RR logo"></a>
</div>
<p>
    Hinter unserer Online-Casino-Plattform steht ein engagiertes und leidenschaftliches Team, das sich darauf konzentriert, Ihnen das beste Spielerlebnis zu bieten. Wir sind ein kreatives Team von Entwicklern, Designern und Glücksspiel-Enthusiasten, die zusammenarbeiten, um eine benutzerfreundliche und sichere Plattform zu schaffen.<br><br>
    <u>Teammitglieder:</u> Linus Gerlach, Janne Nußbaum, Justin Lotwin und Nils Fleschhut<br>
    Wir sind vier bei Rolls Royce angestellte duale Studenten im Studiengang Informatik - Informationstechnik (TIT23). Aktuell sind wir in der vierten Theoriephase und machen diese Website als Projekt für das Modul "Webengineering I", das von Prof. Dr. Jürgen Schneider vorgelesen wird.
</p>

</body>
</html>