<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">
        <img src="img/logo.png" alt="Casino Logo">
    </div>
    <h1 id="headerTitle" class="title">Online Casino</h1>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="logIn.html">Anmelden</a></li>
        </ul>
    </nav>
</header>
</body>
</html>