<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>impressum</title>
    <link rel="stylesheet" href="css/impressum.css">
    <script defer src="Skript/index.js"></script>
</head>
<body>
<div id="header"></div> <!-- Header wird dynamisch geladen -->

<main id="content">

<h2><u>Impressum</u> </h2>
<p>
    <u>Angaben gemäß § 5 TMG:</u><br><br>
    <u>Betreiber:</u><br>
    Janne Nußbaum, Linus Gerlach, Justin Lotwin und Nils Fleschhut<br>
    Casino-Street 33 - Las Vegas, Nevada<br><br>

    <u>Kontakt:</u><br>
    E-Mail: <a id="mail" href="mailto:casino@online.com">casino@online.com</a><br><br>

    <u>Hinweis:</u><br>
    Diese Website ist ein nicht öffentlich zugängliches, lokales Projekt und dient ausschließlich zu Entwicklungs- und Testzwecken. Sie wird nicht im Internet veröffentlicht oder kommerziell genutzt. Auch die Adresse bzw. die E-Mail ist fiktiv.
</p>
</main>

<div id="footer"></div> <!-- Footer wird dynamisch geladen -->
</body>
</html>