<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Online-Casino</title>

  <link rel="icon" type="image/png" sizes="16x16" href="./img/favicons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/x-icon" href="./img/favicons/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="192x192" href="./img/favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="./img/favicons/android-chrome-512x512.png">
  <link rel="manifest" href="./img/favicons/site.webmanifest">

  <link rel="stylesheet" href="css/styles.css">
  <script defer src="Skript/index.js"></script>
  <script defer src="Skript/gameHandler.js"></script>
</head>
<body>

<div id="header"></div>

<main id="content">
  <div class="background-container">
    <img class="background-image" src="./img/Designer.jpeg" alt="background">
    <a href="#slot-machine" id="slot-button" class="game-button">🎰 Slot Machine</a>
    <a href="#blackjack" id="blackjack-button" class="game-button">🃏 Blackjack</a>
    <a href="#roulette" id="roulette-button" class="game-button">🎡 Roulette</a>
    <div id="game"></div>
  </div>
</main>

<div id="footer"></div>

</body>
</html>