<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Online-Casino</title>
  <link rel="stylesheet" href="css/styles.css">
  <script defer src="Skript/index.js"></script>
  <script defer src="Skript/gameHandler.js"></script>
</head>
<body>

<div id="header"></div> <!-- Header wird dynamisch geladen -->

<main id="content">
  <div class="background-container">
    <img class="background-image" src="../View/img/Designer.jpeg" alt="background">
    <a href="#slot-machine" id="slot-button" class="game-button">🎰 Slot Machine</a>
    <a href="#blackjack" id="blackjack-button" class="game-button">🃏 Blackjack</a>
    <a href="#roulette" id="roulette-button" class="game-button">🎡 Roulette</a>
    <div id="game"></div>
  </div>
</main>

<div id="footer"></div> <!-- Footer wird dynamisch geladen -->

</body>
</html>
o