<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/profil.css">
    <title>Profile</title>
</head>
<body>
<div id="profile">
    <h2>Willkommen, <span id="firstNameHeader">Max</span> <span id="lastNameHeader">Mustermann</span></h2>
    <div id="userDetails">
        <h2><u>Deine Daten:</u></h2>
        <p><strong>Vorname:</strong> <span id="firstName">Max</span></p>
        <p><strong>Nachname:</strong> <span id="lastName">Mustermann</span></p>
        <p><strong>Benutzername:</strong> <span id="username">xXMaximiserXx</span></p>
        <p><strong>Email:</strong> <span id="email">max@mustermann.de</span></p>
        <p><strong>Credit-Konto:</strong> <span id="credits">10.000 Credits</span></p>
    </div>

    <button id="editProfileButton">Profil bearbeiten</button>
</div>

<script src="Skript/profil.js"></script>

</body>
</html>