<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="stylesheet" href="css/registration.css">
</head>
<body>
<div id="registration">
    <h2><u>Registrierung</u></h2>
    <form id="registration-form">
        <fieldset>
            <div class="form-group">
                <label for="firstName">Vorname:</label>
                <input type="text" id="firstName" name="Vorname" placeholder="Vorname" required>
            </div>

            <div class="form-group">
                <label for="lastName">Nachname:</label>
                <input type="text" id="lastName" name="Nachname" placeholder="Nachname" required>
            </div>

            <div class="form-group">
                <label for="username">Benutzername:</label>
                <input type="text" id="username" name="Benutzername" placeholder="Benutzername" required>
            </div>

            <div class="form-group">
                <label for="email">E-Mail:</label>
                <input type="email" id="email" name="E-Mail" placeholder="E-Mail" required>
            </div>

            <div class="form-group">
                <label for="IBAN">IBAN:</label>
                <input type="text" id="IBAN" name="IBAN" placeholder="IBAN" pattern="^[A-Z]{2}\d{2}[A-Z0-9]{11,30}$" required>
            </div>

            <div class="form-group">
                <label for="password">Passwort:</label>
                <input type="password" id="password" name="password" placeholder="Passwort" required>
            </div>

            <div class="form-group">
                <label for="passwordWdh">Passwort Wiederholen:</label>
                <input type="password" id="passwordWdh" name="password" placeholder="Passwort wiederholen" required>
            </div>

            <div class="form-group">
                <input id="registrationButton" type="submit" value="Registrierung">
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>